@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  --background: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;
}

html.dark {
  --background: black;
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;
}

* {
  font-family: "Inter";
  --font-size-4xl: 2.25rem;
  --font-size-3xl: 1.75rem;
  --font-size-2xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.125rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-600: 600;
  --font-weight-bold: 700;
  --line-height-sm: 1.3;
  --line-height-ms: 1.5;
  --blue-200: #73bcf7;
  --blue-500: #06c;
  --blue-400: #517ac5;
  --blue-600: #002952;
}
body{
  color: var(--grey-900);
  background-color: var(--background);
}

.teamDivGenerated > p{
  width: 10%;
  flex-wrap: wrap;
  display: flex;
  align-items:center;
  padding: 2.5rem;
}
footer{
  font-size: var(--font-size-sm);
}
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.5rem;
}
.teamLinks {
  width:max-content;
  padding-left: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--grey-400);
  font-weight: var(--font-weight-600);
}
.links {
  padding: 0 8px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--grey-400);
  font-weight: var(--font-weight-600);
}
.links:hover{
  color: var(--blue-400);
}
.teamLinks:hover{
  color: var(--blue-500);
}