---
import TeamLayout from "../components/TeamLayout.astro";
import Main from "../layouts/Main.astro";
---

<title>Vanir: Teams</title>
<Main>
    <div class="teams">
        <TeamLayout />
        <TeamLayout />
        <TeamLayout />
        <TeamLayout />
        <TeamLayout />
        <TeamLayout />
        <TeamLayout />
    </div>
</Main>