---
import TourneyLayout from "../components/TourneyLayout.astro";
import Main from "../layouts/Main.astro";
---

<title>Vanir: Tournaments</title>
<Main>
    <TourneyLayout />
    <TourneyLayout />
    <TourneyLayout />
    <TourneyLayout />
    <TourneyLayout />
    <TourneyLayout />
</Main>