---

---
<br><br><br>
<div id="aboutUs">
  <p id="aboutUsText">
    <b class="text-large">Vanir Team</b> <br><br> We are a <b style="font-size: 120%;">group of friends, a family.</b><br><br>
    Vanir is more than just e-Sport, we are a
    mutual aid and a will to bring<br> <b>support for the young and older players</b>, by
    proposing professional and not just ordinary coachings. <br>
    <br>
    <b style="font-size: larger;">We offer coaching with qualified, amusing and competent people. </b><br> 
    <br> <br> There won't be a leader above the others, it is the
    support and union of 9 unique people that are creating the project and making it functional. <br> Our marketing team will make you dream by
    bringing you into an innovative and special universe.<br> Our company's culture
    advocates ethical values and social diversity. <br> <b>So everyone will be accepted
    into this growing project.</b><br><br> This team with a participative management
    allows transmiting values of cooperation, innovation and a common passion.<br>
    As D. said: <q>It is my greatest pride to work within this team, family and to
    be the precursor of the project</q>.<br><br>
    <b style="font-size: larger;">So stop waiting, join us and help us grow!</b>
  </p>
</div>

<style>
.text-large{
    font-size: var(--font-size-3xl);
}
q{
    font-style: italic;
    font-weight: var(--font-weight-600);
}
  #aboutUs {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    flex-wrap: wrap;
    opacity: 0.8;
  }
  #aboutUsText{
    font-size: var(--font-size-lg);
  }
</style>
