<div id="langChange">
    <select onselect="ChanageLanguage()" name="langChange" id="langChangeSelect">
        <option value="French">French</option>
        <option value="English" selected>English</option>
        <option value="Polish">Polish</option>
    </select>
</div>

<script type="js">
    function ChanageLanguage() {
        let selected = document.getElementById("langChangeSelect").value;
        if(selected == "English"){

        }else if(selected == "Polish"){

        }
    }
</script>