---
import "../styles/global.css";
---

<form method="post">
  <div class="form-group">
    <div class="input-group col">
      <input class="form-control" type="text" placeholder="Email">
      <br>
      <input class="form-control" type="password" placeholder="Password">
    </div>
  </div>
  <br>
  <div id="underFormForgot">
    <input type="checkbox" name="remember" id="remember" /> Remember me
    <a class="links" href="#"><p id="forgotLink">Forgot password!</p></a>
    <br>
  </div>
  <div class="form-control">
    <input type="submit" value="Sign In" />
  </div>
  <br>
</form>

<style>
  #forgotLink {
    color: var(--grey-200);
  }
  .form-control input[type="submit"]{
    font-size: 100%;
    background-color: var(--blue-200);
    padding: 12px;
    color:white;
    border: none;
    border-radius: 5px;
    width: 14%;
  }
  * {
    margin: 0;
    padding: 0;
  }

  input.form-control {
    border: 0;
    padding: 10px;
  }
  input[type="text"]{
    border-bottom: 2px solid var(--grey-200);
    
  }
  input{
    font-size: large;
  }
  input:active{
    border: 0;
  }
  input:focus{
    border: 0;
  }
  .input-group {
    border: 2px solid var(--grey-200);
    border-radius: 5px;
    display: inline-block;
  }
  form{
    width: 100%;
    text-align: center;
  }
  .underFormForgots{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
</style>
