---
import Main from "../layouts/Main.astro";
import Logo from "../../public/logo_vanir.svg";
import ThemeToggler from "./ThemeToggler.astro";
---

<header>
  <div id="left" class="links">
    <div>
      <a href="#" class="links">Home</a>
    </div>
    <div>
      <a href="#" class="links">Teams</a>
      <a href="#" class="links">Tournaments</a>
    </div>
  </div>
  <div id="logo" >
    <a href="#"><img src={Logo.src} alt="The Logo" width="55px" height="55px" /></a>
  </div>
  <div id="right" class="links">
	<a class="links" href="#">Login</a>
	<a class="links" href="#">Register</a>
  </div>
  <div id="toggle">
	<ThemeToggler />
</div>
</header>


<style>
  header {
    display: flex;
	align-items: center;
    width: 100%;
  }
  header #logo{
	display: flex;
	align-items: center;
	
  }
  header #toggle{
    display: flex;
	margin: 0;
	padding: 0;
  }
  header #left,
  header #right {
    flex-grow: 1;
	padding: 8px;
    display: flex;
  }
  header #left {
    justify-content: space-between;
  }
  
</style>
