---
import "../styles/global.css";
import { db,User } from 'astro:db';

if (Astro.request.method === 'POST') {
  // parse form data
  const formData = await Astro.request.formData();
  const email = formData.get('email');
  const password = formData.get('password');
  const repeatPassword = formData.get('repeatPassword');
  if (typeof email === 'string' && typeof password === 'string' && typeof repeatPassword === 'string' && password === repeatPassword) {
    // insert form data into the User table
    await db.insert(User).values({ email, password });
  }
}
---

<form method="post">
  <div class="form-group">
    <div class="input-group col">
      <input class="form-control" type="email" name="email" id="email" placeholder="Email">
      <br>
      <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      <br>
      <input class="form-control" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat Password">
    </div>
  </div>
  <br>
  <div id="underFormForgot">
    <input type="checkbox" name="remember" id="remember" /> Remember me
    <br>
    <p>You have an account use this <a href="/login">link</a></p>
    <br>
  </div>
  <div class="form-control">
    <input type="submit" value="Sign In" />
  </div>
  <br>
</form>

<style>
  #forgotLink {
    color: var(--grey-200);
  }
  .form-control input[type="submit"]{
    font-size: 100%;
    background-color: var(--blue-200);
    padding: 12px;
    color:white;
    border: none;
    border-radius: 5px;
    width: 14%;
  }
  * {
    margin: 0;
    padding: 0;
  }

  input[class="form-control"]{
    border-bottom: 2px solid var(--grey-200);
  }
  input.form-control {
    border: 0;
    padding: 10px;
  }
  input[type="email"], input[type="password"]{
    border-bottom: 2px solid var(--grey-200);
    
  }
  input{
    font-size: large;
  }
  input:active{
    border: 0;
  }
  input:focus{
    border: 0;
  }
  .input-group {
    border: 2px solid var(--grey-200);
    border-radius: 5px;
    border-bottom: 0;
    display: inline-block;
  }
  form{
    width: 100%;
    text-align: center;
  }
  .underFormForgots{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
</style>
